- module: kafka
  metricsets:
    - "partition"
    - "consumergroup"
  period: 10s
  hosts: ["{{ inventory_hostname }}:9093"]
  topics: []
  ssl.certificate_authorities: ["{{ ssl_ca_dir }}/ca-cert"]
  ssl.certificate: "{{ ssl_client_dir }}/cert-signed"
  ssl.key: "{{ ssl_client_dir }}/client-key"
  ssl.key_passphrase: "{{ key_pwd }}"
