[Unit]
Description=Zookeeper Service
After=network-online.target

[Service]
EnvironmentFile={{ zookeeper_home }}/zookeeper.environment
Type=forking
User=vagrant
ExecStart={{ zookeeper_home }}/bin/zkServer.sh start
ExecStop={{ zookeeper_home }}/bin/zkServer.sh stop
Restart=on-failure

[Install]
WantedBy=multi-user.target
