apiVersion: 1

deleteDatasources:
   - name: Elastic
     orgId: 1

datasources:
  - name: Elastic
    type: elasticsearch
    access: proxy
    database: "[*-]YYYY.MM.DD"
    url: http://{{ groups['elk'][0] }}:9200
    jsonData:
      interval: Daily
      timeField: "@timestamp"
      esVersion: 56
