apiVersion: 1

deleteDatasources:
   - name: Graphite
     orgId: 1

datasources:
 - name: Graphite
   type: graphite
   url: http://localhost
   access: proxy
   jsonData:
      graphiteVersion: "1.1"
   version: 1
   editable: false
