[Unit]
Description=Prometheus Service
After=network-online.target

[Service]
User=vagrant
ExecStart={{ prometheus_home }}/prometheus --config.file={{ prometheus_home }}/prometheus.yml --storage.tsdb.path={{ prometheus_home }}/data
Restart=on-failure

[Install]
WantedBy=multi-user.target
