[general]
pidfile="burrow.pid"
stdout-logfile="burrow.out"
access-control-allow-origin="{{ inventory_hostname }}"

[logging]
filename="logs/burrow.log"
level="info"
maxsize=100
maxbackups=30
maxage=10
use-localtime=false
use-compression=true

[zookeeper]
servers=[{% for server in groups['zookeeper'] %}{% if loop.index > 1%},{% endif %}"{{ server }}:2181"{% endfor %}]
timeout=6
root-path="/burrow"

[sasl.default]
username="admin"
password="admin-secret"

[client-profile.default]
client-id="burrow"
kafka-version="0.11.0"
tls="default"

[tls.default]
cafile="{{ ssl_ca_dir }}/ca-cert"
certfile="{{ ssl_client_dir }}/cert-signed"
keyfile="{{ ssl_client_dir }}/client-key"

[cluster.default]
class-name="kafka"
servers=[{% for server in groups['kafka'] %}{% if loop.index > 1%},{% endif %}"{{ server }}:9093"{% endfor %}]
client-profile="default"
topic-refresh=120
offset-refresh=30

[consumer.default]
class-name="kafka"
cluster="default"
servers=[{% for server in groups['kafka'] %}{% if loop.index > 1%},{% endif %}"{{ server }}:9093"{% endfor %}]
client-profile="default"
offsets-topic="__consumer_offsets"
start-latest=true
group-whitelist=".*"
group-blacklist="^not-this-group$"

[httpserver.default]
address=":8000"

#[notifier.default]
#class-name="http"
#url-open="http://{{ groups['elk'][0] }}:9000"
#url-close="http://{{ groups['elk'][0] }}:9000"
#interval=60
#timeout=5
#keepalive=30
#template-open="config/burrow-request.tmpl"
#template-close="config/burrow-request.tmpl"
#send-close=true
#threshold=0

[storage.default]
class-name="inmemory"
workers=20
intervals=15
expire-group=604800
min-distance=1
