security.protocol=SSL
ssl.truststore.location={{ ssl_client_dir }}/client.truststore.jks
ssl.truststore.password={{ truststore_pwd }}
ssl.keystore.location={{ ssl_client_dir }}/client.keystore.jks
ssl.keystore.password={{ keystore_pwd }}
ssl.key.password={{ key_pwd }}
ssl.enabled.protocols=TLSv1.2
