zookeeper.ssl.client.enable=true
zookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.keystore.location={{ ssl_client_dir }}/client.keystore.jks
zookeeper.ssl.keystore.password={{ keystore_pwd }}
zookeeper.ssl.truststore.location={{ ssl_client_dir }}/client.truststore.jks
zookeeper.ssl.truststore.password={{ truststore_pwd }}
zookeeper.set.acl=true