JAVA_HOME=/usr/java/latest
KAFKA_OPTS=-Djava.security.auth.login.config={{ kafka_home }}/config/zookeeper_jaas.conf -javaagent:{{ jmxtrans_dest }}/jmxtrans-agent.jar={{ jmxtrans_dest }}/{{ jmxagent }}
JMX_PORT=5555
