JAVA_HOME=/usr/java/latest
KAFKA_OPTS=-Djava.security.auth.login.config={{ kafka_home }}/config/zookeeper_jaas.conf -javaagent:{{ kafka_home }}/prometheus-agent.jar=8080:{{ kafka_home }}/config/prometheus_agent.yml
JMX_PORT=5555
