Server {
       org.apache.zookeeper.server.auth.DigestLoginModule required
       username="admin"
       password="admin-secret"
       user_admin="admin-secret";
};

QuorumLearner {
       org.apache.zookeeper.server.auth.DigestLoginModule required
       username="admin"
       password="admin-secret";
};

QuorumServer {
       org.apache.zookeeper.server.auth.DigestLoginModule required
       user_admin="admin-secret";
};
