input {
  burrow {
    client_config => {
        url => "http://kafka-3:8000"
    }
    schedule => { every => "30s" }
  }
}

output {
  elasticsearch {
    hosts => "{{ groups['elk'][0] }}:9200"
    manage_template => false
    index => "burrow-%{+YYYY.MM.dd}"
  }
}
