input {
  burrow {
    client_config => {
        url => "http://{{ groups['kafka'][0] }}:8000"
    }
    schedule => { every => "30s" }
  }
}

filter {
    mutate {
        add_field => { "module" => "burrow" }
    }
}

output {
  elasticsearch {
    hosts => "{{ groups['elk'][0] }}:9200"
    manage_template => false
    index => "burrow-%{+YYYY.MM.dd}"
  }
}
